<div class="container">    
  <div class="row">    
    <div class="col-md-8 form-group">    
      <input type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">    
    </div>    
  </div>    
  <div class="row">    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsJson()">Table ZEK AS JSON</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsJson()">Table Ziel_Matrize as JSON</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsHTML()">Table Ende_Zielvorgaben as JSON</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsText()">Table IT8 as JSON</button>    
    </div> 
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsText()">Table Lohnartenreport as JSON</button>    
    </div> 
     <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsText()">Table Monatslauf as JSON</button>    
    </div> 
  </div>    
</div>  

<div>

  
</div>